<div class="section padding_layout_1">
    <div class="done">
        <h1 class="title">TẠO TÀI KHOẢN THÀNH CÔNG</h1>
        <img src="~/Content/images/Tich-xanh.png" />
        <div class="bt">
            <a href="~/Login/Index"><button class="btn btn-block btn-primary" id="login">ĐĂNG NHẬP</button></a>
            <a href="~/Register/Index"><button class="btn btn-block btn-primary" id="back">QUAY LẠI</button></a>
        </div>
    </div>
</div>    @section scripts{
    <script src="~/Scripts/timkiem.js"></script>
}
