
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">THANH TOÁN SẢN PHẨM</h1>
                            <ol class="breadcrumb">
                                <li><a href="~/ITNEXT/Index">Trang chủ</a></li>
                                <li class="active">Thanh toán</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1 checkout_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="full">
                    <div class="tab-info login-section">
                        <p>Returning customer? <a href="#login" class="" data-toggle="collapse">Click here to login</a></p>
                    </div>
                    <div id="login" class="collapse">
                        <div class="login-form-checkout">
                            <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                            <form action="#">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="username">Username or email <span class="required">*</span></label>
                                            <input class="input-text" name="username" id="username" required="" type="text">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="password">Password <span class="required">*</span></label>
                                            <input class="input-text" name="password" id="password" required="" type="password">
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 btn-login">
                                            <button class="bt_main">Login</button>
                                            <span class="remeber">
                                                <input type="checkbox">
                                                Remember me
                                            </span>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="tab-info coupon-section">
                        <p>
                            Có phiếu giảm giá? <a href="#cupon" class="" data-toggle="collapse">Bấm vào Đây Để nhập mã của bạn </a>
                        </p>
                    </div>
                    <div id="cupon" class="collapse">
                        <div class="coupen-form">
                            <form action="#">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <input class="input-text" name="coupon" placeholder="Coupon code" id="coupon" required="" type="text">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <button class="bt_main">Login</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="checkout-form">
                    <form action="#">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-field">
                                        <label>Họ Tên<span class="red">*</span></label>
                                        <input name="fn" id="HoTen" type="text"><!---->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-field">
                                        <label>Địa Chỉ <span class="red">*</span></label>
                                        <textarea id="diachi" name="ad"></textarea><!---->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-field">
                                        <label>Số Điện Thoại <span class="red">*</span></label>
                                        <input id="sdt" name="ph" type="text"><!---->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-field">
                                        <label>Email<span class="red">*</span></label>
                                        <input id="email" name="em" type="email"><!---->
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shopping-cart-cart">
                    <table>
                        <tbody>
                            @foreach (var item in ViewBag.GH1)
                            {
                                <tr>
                                    <td><img width="40" height="40" src="~/Content/linhkien/@item.Hinh1" /></td>
                                    <td>@item.TenLK</td>
                                    <td>@String.Format("{0:N0}", item.Gia)₫</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="shopping-cart-cart">
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr class="head-table">
                                <td><h5>TỔNG SỐ HÀNG</h5></td>
                                <td class="text-right"></td>
                            </tr>
                            <tr>
                                <td><h4>TẠM TÍNH</h4></td>
                                <td class="text-right"><h4>@String.Format("{0:N0}", ViewBag.gh2)₫</h4></td>
                            </tr>
                            <tr>
                                <td><h5>PHÍ VẬN CHUYỂN</h5></td>
                                <td class="text-right"><h4>0₫</h4></td>
                            </tr>
                            <tr>
                                <td><h3>TỔNG TIỀN</h3></td>
                                <td class="text-right"><h4>@String.Format("{0:N0}", ViewBag.gh2)₫</h4></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="payment-form">
                    <div class="col-xs-12 col-md-12">
                        <!-- CREDIT CARD FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table">
                                <div class="display-tr">
                                    <h3 class="panel-title display-td">CHI TIẾT THANH TOÁN</h3>
                                    <div class="display-td"> <img class="img-responsive pull-right" src="~/Content/images/it_service/accepted.png" alt="#"> </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form id="payment-form" method="POST" action="index.html">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-field">
                                                <label>Card Number</label>
                                                <div class="form-field cardNumber">
                                                    <input name="cardNumber" placeholder="Valid Card Number" required="" type="tel">
                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-7">
                                            <div class="form-field">
                                                <label><span class="hidden-xs">Expiration</span><span class="visible-xs-inline">EXP</span> Date</label>
                                                <input name="cardExpiry" placeholder="MM / YY" required="" type="tel">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-5 pull-right">
                                            <div class="form-field">
                                                <label>CV Code</label>
                                                <input name="cardCVC" placeholder="CVC" required="" type="tel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-field">
                                                <label>Coupon Code</label>
                                                <input name="couponCode" required="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 payment-bt">
                                            <div class="center">
                                                <input type="button"  class="bt_main" value="THANH TOÁN" data-toggle="modal" data-target="#exampleModal"></input>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- CREDIT CARD FORM ENDS HERE -->
                        <!-- Modal -->
                        <div class="op">
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">THÔNG BÁO</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="tb">
                                          BẠN MUỐN MUA NHỮNG SẢN PHẨM TRÊN
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btn_pay">ĐẶT HÀNG</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/timkiem.js"></script>
    <script src="~/Scripts/tinhtienScripts.js"></script>
}