<div class="section padding_layout_1">
    <div class="done">
        <h1 class="title">ĐẶT HÀNG THÀNH CÔNG</h1>
        <img src="~/Content/images/Tich-xanh.png" />
        <div class="bt">
            <a href="~/ITNEXT/Index"><button class="btn btn-block btn-primary" id="login">TRANG CHỦ</button></a>
            <a href="~/GioHang1/Viewgiohang"><button class="btn btn-block btn-primary" id="back">QUAY LẠI GIỎ HÀNG</button></a>
        </div>
    </div>
</div>    @section scripts{
    <script src="~/Scripts/timkiem.js"></script>
}
